.aboutMe {
    height: 100vh;
    background-color: #29a880;
}

.container {
    justify-content: space-around;

}

.info {
    width: 300px;
    background-color: #a6a9a8;
}

.photo {
    width: 300px;
    height: 300px;
    background-color: #a6a9a8;
}

