.aboutMe {
  border-bottom: #dddddd solid 1px;

  .container {
    justify-content: space-around;
    @media (max-width: 569px) {
      justify-content: center;
    }

    .info {
      width: 400px;
      @media (max-width: 349px) {
        width: 280px;
      }

      h1 {
        font-size: 8rem;
        color: dimgrey;
        @media (max-width: 349px) {
          font-size: 6rem;
        }

      }

      h2 {
        font-size: 3.7rem;
        margin-top: -86px;
        margin-left: 40px;
        color: silver;

        @media (max-width: 349px) {
          font-size: 2.7rem;
          margin-top: -62px;
          margin-left: 35px;
        }
      }

      .intro {
        padding: 10px 0;
        font-size: 1.6rem;
        color: #757575;
        line-height: 1.3;
      }

      .description {
        margin-bottom: 2.4rem;
        line-height: 1.7;
      }
    }

    .photo {
      max-width: 456px;
      height: 300px;

      @media (max-width: 1069px) {
        max-width: 456px;
        height: 333px;
      }
      @media (max-width: 569px) {
        height: auto;

        img {
          width: 150px;
          height: 150px;
          background-color: silver;
          border-radius: 50%;
        }

      }
    }

  }
}






