.contacts {
  .container {
    justify-content: center;
    flex-direction: column;
  }

  .title {
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    .leftSide {
      margin-right: 25px;
      @media (max-width: 380px) {
        margin-right: 0px;
      }
    }

    .rightSide {
      height: 105px;
    }

    .submit {
      height: 1.8rem;
      line-height: 1.8rem;
    }

    .input {
      margin: 5px 0px;
      display: block;
      border: #949494 solid 1px;
      border-radius: 4px;
      background-clip: padding-box;
      color: #333333;
      font-size: 18px;
      font-size: 1.8rem;
      font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
      padding: 0px 1.6rem;
      box-sizing: border-box;
      vertical-align: middle;
      @media (max-width: 380px) {
        max-width: 200px;
        font-size: 0.8rem;
      }
    }
  }
}




