.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    background-color: #99d0fb;
}