.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    /*background-color: #fff;*/
}

@media (max-width: 629px) {
    .skill {
        margin-bottom: 10px;
    }

    .skill:last-child {
        margin-bottom: 0px;
    }
}

.skillIcon {
    width: 100px;
    height: 100px;
    /*background-color: black;*/
}

.skillDesc {
}