.worksBlock {
    /*height: 100vh;*/
    background-color: #ae4dc9;

}

.worksContainer {
    /*align-items: center;*/
    justify-content: center;
    /*flex-direction: column;*/
    height: auto;


}

.title {
    background-color: #6d7c78;
}

.works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    border: 1px solid;
}