.worksBlock {
  padding: 30px 0;
  border-bottom: #dddddd solid 1px;

  .worksContainer {
    justify-content: center;
    height: auto;

    .works {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
    }
  }
}
