.skillsBlock {
    height: 100vh;
    background-color: #5ec94d;

}

.skillsContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

}


.title {
    background-color: #6d7c78;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    border: 1px solid;

}

@media (max-width: 629px) {
    .skills {
        justify-content: center;
    }
}