.skillsBlock {
  background-color: #fafafa;
  border-bottom: #dddddd solid 1px;

  .skillsContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    .title {
      font: 16px/1.4em "Montserrat", Arial, sans-serif;
      font-size: 40px;
      margin-bottom: 10px;
      //background-color: #6d7c78;
    }

    .skills {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;

      @media (max-width: 629px) {
        justify-content: center;
      }
    }
  }

}


//@media (max-width: 629px) {
//  .skills {
//    justify-content: center;
//  }
//}