.skillsBlock {
  /*height: 100vh;*/
  background-color: #fafafa;
  border-bottom: #dddddd solid 1px;


}

.skillsContainer {
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

}


.title {
  //background-color: #6d7c78;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

}

@media (max-width: 629px) {
  .skills {
    justify-content: center;
  }
}