.skillsBlock {
    /*display: flex;*/
    /*justify-content: flex-end;*/
    /*align-items: center;*/
    height: 100vh;
    background-color: #5ec94d;
}

.skillsContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    background-color: #6d7c78;
}

.skills {
    width: 100%;
    border: 1px solid;
    background-color: #ffcd10;

}