.nav {

  margin-right: 40px;

  @media (max-width: 520px) {
    margin-right: 0;
  }
  //float: right;
  //position: static;
  //background: transparent;
  //width: auto;
  //display: flex;
  //flex-wrap: wrap;
  //justify-content: space-between;

  ul {
    display: flex;
    @media (max-width: 465px) {
      justify-content: center;
      flex-wrap: wrap;
    }


    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: bottom;
    background: transparent;

    li {

      display: inline-block;
      float: left;
      position: relative;
      height: 92px;
      border: 0px;
      @media (max-width: 465px) {
        height: auto;
      }

      a {
        display: block;
        color: #FFF;
        line-height: 92px;
        padding: 0 1em;
        text-decoration: none;
        @media (max-width: 465px) {
          line-height: 2;
        }

        &:hover {
          opacity: 0.9;
          color: black;
        }

      }


    }

    .social {
      margin-left: 30px;
    }
  }


}