.footer {
  background-color: #282a2c;


  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .title {
      color: #949494;
    }

    .social {
      display: flex;
      justify-content: space-between;
      width: 280px;
      margin-bottom: 10px;


      .socialIcon {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: #ffcd10;
      }

      @media (max-width: 350px) {
        width: auto;
        flex-wrap: wrap;
      }
    }


    .copyright {
      color: #949494;
    }

  }

}



