.footer {
  background-color: #282a2c;
  @media (max-width: 350px) {
    h3 {
      font-size: 15px;
    }
  }


  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .title {
      color: #949494;
    }

    .social {
      display: flex;
      justify-content: space-between;
      width: 280px;
      margin-bottom: 10px;
      list-style-type: none;


      a {
        color: #949494;

        @media (max-width: 350px) {
          padding: 0 5px;
        }

        &:hover {
          opacity: 0.8;
          color: #000000;
        }

      }


      @media (max-width: 350px) {
        width: auto;
        flex-wrap: wrap;
      }
    }


    .copyright {
      color: #949494;
    }

  }

}



